paddlepaddle==3.2.2  # use paddlepaddle gpu for gpu inference
paddlex[ocr]==3.3.2
pypandoc
Pillow
pikepdf
htmlmin4
py7zr
PyMuPDF
pylatexenc
llama-cpp-python
python-multipart
huggingface-hub
chromadb
uvicorn
beautifulsoup4
python-docx
fastapi
langchain_text_splitters
pydantic
